body{
    margin: 0;
}

.tudoMeetings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    background-color: rgb(214, 214, 214);
    width: 70%;
    height: 100%;
    margin-left: 15%;

}

.contentMeetings{
    padding: 2em 0,2em 0,2em 0,2em;
}

.dateMeetings{
    display: flex;
    padding: 0.2em 2em 0.2em 0.2em;
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 0 0 1em 1em;
}
.dateMeetings p {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #4F4F4F;
}

.rowMeetings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0.2em 2em 0.2em 0.2em;
    background-color: antiquewhite;
}
.rowMeetings div Button{
    margin-left: 0.5em;
}
.rowMeetings:hover h4{
    text-decoration: underline;

}
.rowMeetingsTime{
    margin: 0;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    padding-bottom: 2.5em;
}
.rowMeetingsTime h5{
    margin: 0;
    justify-content: center;
    display: flex;
    padding: 0;
}
.rowMeetingsTitle{
    flex-grow: 3;
    padding-top: 0.5em;
}

.rowMeetingsButton{
    flex-grow: 1;
}
