body{
    margin: 0;
    background-color: #E7E7E7;
}

.tudoMeetings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    background-color: #f8f9fb;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    border-radius: 0 0 1em 1em;
}

.contentMeetings{
    padding: 2em 20em 0,2em 0,2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dateMeetings{
    display: flex;
    padding: 0.2em 2em 0.2em 0.2em;
    align-items: center;
    background-color: #cdcdcd;
    margin: 0.5em 0 0.5em 0;
    border-radius: 0 0 1em 1em;
}
.dateMeetings p {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #4F4F4F;
}

.rowMeetings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 0.5em;
    padding: 0.2em 2em 0.2em 0.2em;
    background-color: rgb(238, 236, 236);
    border-radius: 1em;
}
.rowMeetings:hover{
    animation: smoothGrow 0.3s;
    animation-fill-mode: forwards;
}
@keyframes smoothGrow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: #e0e6ff;
    }
}
.rowMeetings div Button{
    margin-left: 0.5em;
}
.rowMeetings:hover h4{
    text-decoration: underline;
}
.rowMeetingsTime{
    margin: 0;
    width: 13em;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    padding-bottom: 2.5em;
}
.rowMeetingsTime h5{
    margin: 0;
    justify-content: center;
    display: flex;
    padding: 0;
}
.rowMeetingsTitle{
    flex-grow: 3;
    padding-top: 0.5em;
    text-align: left;
    margin-right: 2em;
}

.rowMeetingsButton{
    flex-grow: 1;
}

.NavbarMeetings{
    display: flex;
    border-radius: 1em;
    width: 50em;
    justify-content: center;
    align-items: center;
    background-color: #4F4F4F;
    margin-left: 3em;
}